.square {
    border: solid black 2px;
    border-radius: 1px;
    background-color: lightgray;
}

#container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 600px;
    height: 600px;
}

.grid {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}