.square {
    width: 20px;
    height: 20px;
    border: solid black 2px;
    background-color: lightgray;
}

#container, .grid {
    display: flex;
    justify-content: center;
}

#container {
    width: 960px;
    height: 960px;
    margin: auto;
}
